<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
    <base href="../">
    <meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="A powerful and conceptual apps base dashboard template that especially build for developers and programmers.">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="~/images/Icon.png">
    <!-- Page Title  -->
    <title>Urban Auto</title>
    <!-- StyleSheets  -->
    <link rel="stylesheet" href="~/Addons/assets/css/dashlite.css">
    <link rel="stylesheet" href="~/Addons/assets/css/dashlite.min.css">
    <link id="skin-default" rel="stylesheet" href="~/Addons/assets/css/theme.css">
</head>
<body class="nk-body bg-white npc-landing ">
    <div class="nk-app-root">
        <div class="nk-main ">

            <header class="header header-32 has-header-main-s1 bg-dark" id="home">
                <div class="header-main header-main-s1 is-sticky is-transparent on-dark">
                    <div class="container header-container">
                        <div class="header-wrap">
                            <div class="header-logo">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img" src="~/images/Urban2x.png" alt="logo">
                                    <img class="logo-dark logo-img" src="~/images/Urban2x.png" alt="logo-dark">
                                </a>
                            </div>
                            <div class="header-toggle">
                                <button class="menu-toggler" data-target="mainNav">
                                    <em class="menu-on icon ni ni-menu"></em>
                                    <em class="menu-off icon ni ni-cross"></em>
                                </button>
                            </div><!-- .header-nav-toggle -->
                            <nav class="header-menu" data-content="mainNav">
                                <ul class="menu-list ml-lg-auto">
                                    <li class="menu-item"><a href="/" class="menu-link nav-link">Home</a></li>
                                    <li class="menu-item"><a href="#feature" class="menu-link nav-link">Features</a></li>
                                    <li class="menu-item"><a href="#pricing" class="menu-link nav-link">Pricing</a></li>
                                    <li class="menu-item"><a href="#story" class="menu-link nav-link">Story</a></li>
                                    <li class="menu-item"><a href="#" class="menu-link nav-link" data-toggle="modal" data-target="#exampleModal">Enquiry</a></li>
                                </ul>
                            </nav><!-- .nk-nav-menu -->
                        </div><!-- .header-warp-->
                    </div><!-- .container-->
                </div><!-- .header-main-->
                <div class="header-content py-6 is-dark mt-lg-n1 mt-n3">
                    <div class="container">
                        <div class="row flex-row-reverse justify-content-center text-center g-gs">
                            <div class="col-lg-6 col-md-7">
                                <div class="header-caption">
                                    <h1 class="header-title">Get Started Today with Urban Auto.</h1>
                                    <p>Urban Auto offers a comprehensive solution for managing your vehicle data efficiently. Our platform is designed to streamline your operations and enhance your business performance. </p>
                                </div><!-- .header-caption -->
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .container -->
                </div><!-- .header-content -->
            </header><!-- .header -->
            @RenderBody()

            <footer class="footer bg-dark is-dark section section-sm" id="footer">
                <div class="container">
                    <div class="row g-3 align-items-center">
                        <div class="col-md-3">
                            <div class="footer-logo">
                                <a href="/" class="logo-link">
                                    <img class="logo-light logo-img" src="~/images/Urban2x.png" alt="logo">
                                    <img class="logo-dark logo-img" src="~/images/Urban2x.png" alt="logo-dark">
                                </a>
                            </div><!-- .footer-logo -->
                        </div><!-- .col -->
                        <div class="col-md-9 d-flex justify-content-md-end">
                            <ul class="link-inline gx-4">
                                <li><a href="@Url.Action("TermsandCondition", "Home")">Terms & Condition</a></li>
                            </ul><!-- .footer-nav -->
                        </div><!-- .col -->
                    </div>
                    <div class="row g-3 align-items-center pt-3">
                        <div class="col-md-8">
                            <div class="text-base">&copy; @DateTime.Now.Year . Developed by <span class="text-base fw-bold">Yash Panchal</span></div>
                        </div><!-- .col -->
                        <div class="col-md-4 d-flex justify-content-md-end">
                            <ul class="social">
                                <li><a href="tel:+919327118853"><em class="icon ni ni-call"></em></a></li>
                                <li><a href="https://www.facebook.com/profile.php?id=61558067462158" target="_blank"><em class="icon ni ni-facebook-f"></em></a></li>
                                <li><a href="mailto:UrbanAuto.Online@gmail.com" target="_blank"><em class="icon ni ni-mail"></em></a></li>
                            </ul><!-- .footer-icon -->
                        </div><!-- .col -->
                    </div><!-- .row -->
                </div><!-- .container -->
            </footer><!-- .footer -->
        </div>
    </div>
    <script src="~/js/custom/cities.js"></script>
    <script language="javascript">print_state("State");</script>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/Addons/assets/js/bundle.js" asp-append-version="true"></script>
    <script src="~/Addons/assets/js/scripts.js" asp-append-version="true"></script>
    <!--Custom JS-->
    <script src="~/js/custom/Enquiry.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
